
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SMTPLFSMP0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SMTPLFSMP0');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="See how much you have to play to obtain the last tier in the Valorant Battle Pass.">
  <meta name="keywords" content="valorant,battle pass,XP,videogames,riot games,calculator,valorant battle pass calculator,challenges,league of legends">
  <meta name="google-site-verification" content="rETEz6nU3yHYHmsE6eBCaKxfRvpiN5NOBhXtIACIbPU" />
  <meta name="theme-color" content="#281b24">
  <link rel=”alternate” hreflang=”en” href=”https://franklfranco.com/valorantbpc/” />
  <link rel=”alternate” hreflang=”en” href=”https://franklfranco.com/valorantbpc/en/” />
  <link rel=”alternate” hreflang=”es” href=”https://franklfranco.com/valorantbpc/es/” />
  <link rel=”alternate” hreflang=”fr” href=”https://franklfranco.com/valorantbpc/fr/” />
  <link rel=”alternate” hreflang=”pt” href=”https://franklfranco.com/valorantbpc/pt/” />

  <title>Valorant Battle Pass Calculator</title>

  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <link href="assets/style.css?v=1679702252439" rel="stylesheet" type="text/css" />

  <!-- Adsense -->
  <script data-ad-client="ca-pub-7599558171115471" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Google-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7599558171115471"
    crossorigin="anonymous"></script>
</head>

<body>
  <noscript>There was an error loading javascript. Please check your browser or any adblock that is causing this.</noscript>

  <!-- Start of webpage -->
  <div id="app">
    <img src="assets/images/logo.png" alt="Valorant logo" id="logo" />
    <h1>Battle Pass Calculator</h1>
    <h2>Act 2: REVELATION</h2>
    <h2>Episode 6</h2>

    <div id="calculator">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 130px">Current Tier</span>
        </div>
        <b-form-input type="number" inputmode="numeric" pattern="[0-9]*" min="2" max="55" placeholder="Choose a valid tier"
          v-model="currentTier"></b-form-input>
        <div class="input-group-prepend">
          <span v-bind:class="{ 'input-group-text': true, disabled: currentTier <=  lastTier }"
            style="width: 90px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Epilogue</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 90px">XP to go</span>
          <span class="false-btn" onclick="setMaxXP()" style="width: 40px">Max</span>
        </div>
        <b-form-input type="number" min="0" placeholder="XP to finish tier" v-model="xpToGo"></b-form-input>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 130px">Tier Goal</span>
        </div>
        <b-form-input type="number" min="2" max="55" placeholder="Choose a valid tier" v-model="tierToAchieve"></b-form-input>
        <div class="input-group-prepend">
          <span v-bind:class="{ 'input-group-text': true, disabled: tierToAchieve <= lastTier }"
            style="width: 90px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Epilogue</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 130px">Starting Date</span>
        </div>
        <b-form-input type="date" v-bind:min="startingDate" v-bind:max="endingDateExclusive" v-model="fromDate">
        </b-form-input>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 130px">Ending Date</span>
        </div>
        <b-form-input type="date" v-bind:min="startingDate" v-bind:max="endingDateExclusive" v-model="toDate">
        </b-form-input>
      </div>

      <label>Current Week: {{ currentWeekR }}</label>

      <div class="xp-boost">
        <h5>XP Boost ({{ (premiumBoostEnabled * premiumBoost + gamePassBoostEnabled * gamePassBoost) * 100 }}%)</h5>
        <b-form-checkbox v-model="premiumBoostEnabled" name="check-button" button>
          Premium BP
        </b-form-checkbox>
        <b-form-checkbox v-model="gamePassBoostEnabled" name="check-button" button>
          Game Pass
        </b-form-checkbox>
      </div>

      <h5>Challenges Filter</h5>
      <table id="challenges-filter">
        <tr>
          <td>
            <b-form-checkbox v-model="dailyChallenges">Daily Challenges</b-form-checkbox>
          </td>
          <td style="padding-left: 5px">
            <b-button variant="help" v-b-tooltip.hover title="Check to count the XP that can be obtained from the remaining daily challenges.">?</b-button>
          </td>
        </tr>
        <tr>
          <td>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="daily-completed" v-model="currentDayCompleted"
                v-bind:disabled="!dailyChallenges">
              <label class="custom-control-label" for="daily-completed">Day Completed</label>
            </div>
          </td>
          <td style="padding-left: 5px">
            <button type="button" class="btn btn-help" data-toggle="tooltip" data-placement="top"
              title="Check to remove the daily challenges of the starting day from the calculation.">?</button>
          </td>
        </tr>
        <tr>
          <td>
            <b-form-checkbox v-model="weeklyChallenges">Weekly Challenges</b-form-checkbox>
          </td>
          <td style="padding-left: 5px">
            <b-button variant="help" v-b-tooltip.hover title="Check to count the XP that can be obtained from the weekly challenges.">?</b-button>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text special"
                  style="width: 120px; height: 30px; font-size: 12px">Count from Week</span>
              </div>
              <input type="number" min="1" v-bind:max="totalWeeks + 1" class="form-control"
                v-bind:disabled="!weeklyChallenges" style="height: 30px; font-size: 12px" placeholder="#"
                v-model="countFromWeek">
            </div>
          </td>
          <td style="padding-left: 5px">
            <button type="button" class="btn btn-help" data-toggle="tooltip" data-placement="top"
              title="Set the week that you want to start counting in. Any week before is not counted (A Valorant week starts on Tuesday).">?</button>
          </td>
        </tr>
      </table>
      
      <button
        class="btn btn-secondary"
        style="width: 125px; height: 50px; margin-top: 25px;"
        onclick="calculate()"
        v-bind:disabled="!changesSinceLastCalculate"
      >
        Calculate
      </button>
    </div>

    <div id="results">
      <ul class="list-group">
        <li class="list-group-item">
          <label style="background-color: var(--mid)"><strong class="special">Progress</strong></label>

          <b-progress class="mt-2" min="0" max="100">
            <b-progress-bar v-bind:value="Math.floor(progress * 100)" v-bind:label="Math.floor(progress * 100) + '%'"
              style="background-color: #f06969 !important"></b-progress-bar>
            <b-progress-bar v-bind:value="Math.ceil(challengesProgress * 100)"
              v-bind:label="Math.ceil(challengesProgress * 100) + '%'" style="background-color: #f7bf79 !important">
            </b-progress-bar>
          </b-progress>

          <b-progress class="mt-2" min="0" max="100">
            <b-progress-bar v-bind:value="Math.floor(desirableProgress * 100)"
              v-bind:label="Math.floor(desirableProgress * 100) + '%'" style="background-color: #ec9860 !important">
            </b-progress-bar>
          </b-progress>

          <div style="text-align: center; background-color: var(--mid)">
            <div class="color-box" style="background-color: #f06969"></div>
            <label style="background-color: var(--mid)">Current XP</label>
            <div class="color-box" style="background-color: #f7bf79; margin-left: 5px"></div>
            <label style="background-color: var(--mid)">XP from Challenges</label>
            <div class="color-box" style="background-color: #ec9860; margin-left: 5px"></div>
            <label style="background-color: var(--mid)">Desirable Progress</label>
          </div>
        </li>
        <li class="list-group-item"><strong class="special">Current XP:</strong> {{ currentXP.toLocaleString() }}</li>
        <li class="list-group-item"><strong class="special">XP Needed per Day:</strong>
          {{ Math.ceil(neededXP / remainingDays).toLocaleString() }}</li>
        <li class="list-group-item"><strong class="special">XP Needed per Week:</strong>
          {{ Math.ceil(neededXP / totalWeeks).toLocaleString() }}</li>
        <li class="list-group-item"><strong class="special">Remaining XP:</strong> {{ neededXP.toLocaleString() }}
        </li>
        <li class="list-group-item"><strong class="special">XP from Challenges:</strong>
          {{ challengesXP.toLocaleString() }}</li>
        <li class="list-group-item"><strong class="special">BP Total XP:</strong> {{ totalXP.toLocaleString() }}</li>
        <li class="list-group-item"><strong class="special">Remaining Tiers:</strong> {{ remainingTiersString }}</li>
        <li class="list-group-item"><strong class="special">Remaining Time:</strong>
          {{ remainingDays + ' Days'.toLowerCase() + ' (' + Math.ceil(remainingDays / 7) + ' Weeks'.toLowerCase()
          + ')' }}
        </li>
      </ul>
      <div style="overflow-x: auto;">
        <table class="table" style="margin: 0px;">
          <thead>
            <tr>
              <td></td>
              <td><strong class="special">Normal</strong></td>
              <td><strong class="special">Spike Rush</strong></td>
              <td><strong class="special">Deathmatch</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong class="special">Remaining Games</strong></td>
              <td>{{ Math.ceil(normalMatches) }}</td>
              <td>{{ Math.ceil(rushMatches) }}</td>
              <td>{{ Math.ceil(deathMatches) }}</td>
            </tr>
            <tr>
              <td><strong class="special">{{ 'Remaining Time (' + 'Hours'.toLowerCase() + ')' }}</strong></td>
              <td>
                {{ Math.floor(normalHours) + ':' + ((normalHours % 1) * 60 < 10 ? '0' : '' ) + Math.floor((normalHours %
                  1) * 60) }} </td>
              <td>
                {{ Math.floor(rushHours) + ':' + ((rushHours % 1) * 60 < 10 ? '0' : '' ) + Math.floor((rushHours % 1) *
                  60) }} </td>
              <td>
                {{ Math.floor(deathHours) + ':' + ((deathHours % 1) * 60 < 10 ? '0' : '' ) + Math.floor((deathHours % 1)
                  * 60) }} </td>
            </tr>
            <tr>
              <td><strong class="special">Games per Day</strong></td>
              <td>{{ Math.ceil(normalDailyGames) }}</td>
              <td>{{ Math.ceil(rushDailyGames) }}</td>
              <td>{{ Math.ceil(deathDailyGames) }}</td>
            </tr>
            <tr>
              <td><strong class="special">Hours per Day<strong></td>
              <td>
                {{ Math.floor(normalDailyHours) + ':' + ((normalDailyHours % 1) * 60 < 10 ? '0' : '' ) +
                  Math.floor((normalDailyHours % 1) * 60) }} </td>
              <td>
                {{ Math.floor(rushDailyHours) + ':' + ((rushDailyHours % 1) * 60 < 10 ? '0' : '' ) +
                  Math.floor((rushDailyHours % 1) * 60) }} </td>
              <td>
                {{ Math.floor(deathDailyHours) + ':' + ((deathDailyHours % 1) * 60 < 10 ? '0' : '' ) +
                  Math.floor((deathDailyHours % 1) * 60) }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer>
      <!-- KoFi -->
      <ul>
        <li>
          <a class="donation-btn" title="Buy me a coffee" target="_blank" href="https://ko-fi.com/H2H1228M7"
            style="padding-left: 20px; padding-right: 20px;"><img src="assets/images/cup-border.webp"
              style="width: 20px; background-color: var(--donation); margin-right: 5px;" />Buy Me a Coffee</a>
        </li>
      </ul>

      <!-- Social media share -->
      <div style="margin-top: 25px; margin-bottom: 15px;">
        <!-- Sharingbutton Facebook -->
        <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=franklfranco.com/valorantbpc"
          target="_blank" rel="noopener" aria-label="">
          <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z" />
              </svg>
            </div>
          </div>
        </a>

        <!-- Sharingbutton Twitter -->
        <a class="resp-sharing-button__link"
          href="https://twitter.com/intent/tweet/?text=Check%20out%20this%20Battle%20Pass%20Calculator!%20%23Valorant&amp;url=franklfranco.com/valorantbpc"
          target="_blank" rel="noopener" aria-label="">
          <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z" />
              </svg>
            </div>
          </div>
        </a>

        <!-- Sharingbutton Reddit -->
        <a class="resp-sharing-button__link"
          href="https://reddit.com/submit/?url=franklfranco.com/valorantbpc&amp;resubmit=true&amp;title=Check%20out%20this%20Battle%20Pass%20Calculator!" target="_blank"
          rel="noopener" aria-label="">
          <div class="resp-sharing-button resp-sharing-button--reddit resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M24 11.5c0-1.65-1.35-3-3-3-.96 0-1.86.48-2.42 1.24-1.64-1-3.75-1.64-6.07-1.72.08-1.1.4-3.05 1.52-3.7.72-.4 1.73-.24 3 .5C17.2 6.3 18.46 7.5 20 7.5c1.65 0 3-1.35 3-3s-1.35-3-3-3c-1.38 0-2.54.94-2.88 2.22-1.43-.72-2.64-.8-3.6-.25-1.64.94-1.95 3.47-2 4.55-2.33.08-4.45.7-6.1 1.72C4.86 8.98 3.96 8.5 3 8.5c-1.65 0-3 1.35-3 3 0 1.32.84 2.44 2.05 2.84-.03.22-.05.44-.05.66 0 3.86 4.5 7 10 7s10-3.14 10-7c0-.22-.02-.44-.05-.66 1.2-.4 2.05-1.54 2.05-2.84zM2.3 13.37C1.5 13.07 1 12.35 1 11.5c0-1.1.9-2 2-2 .64 0 1.22.32 1.6.82-1.1.85-1.92 1.9-2.3 3.05zm3.7.13c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9.8 4.8c-1.08.63-2.42.96-3.8.96-1.4 0-2.74-.34-3.8-.95-.24-.13-.32-.44-.2-.68.15-.24.46-.32.7-.18 1.83 1.06 4.76 1.06 6.6 0 .23-.13.53-.05.67.2.14.23.06.54-.18.67zm.2-2.8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm5.7-2.13c-.38-1.16-1.2-2.2-2.3-3.05.38-.5.97-.82 1.6-.82 1.1 0 2 .9 2 2 0 .84-.53 1.57-1.3 1.87z" />
              </svg>
            </div>
          </div>
        </a>

        <!-- Sharingbutton WhatsApp -->
        <a class="resp-sharing-button__link" href="whatsapp://send?text=Check%20out%20this%20Battle%20Pass%20Calculator!%20franklfranco.com/valorantbpc" target="_blank"
          rel="noopener" aria-label="">
          <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M20.1 3.9C17.9 1.7 15 .5 12 .5 5.8.5.7 5.6.7 11.9c0 2 .5 3.9 1.5 5.6L.6 23.4l6-1.6c1.6.9 3.5 1.3 5.4 1.3 6.3 0 11.4-5.1 11.4-11.4-.1-2.8-1.2-5.7-3.3-7.8zM12 21.4c-1.7 0-3.3-.5-4.8-1.3l-.4-.2-3.5 1 1-3.4L4 17c-1-1.5-1.4-3.2-1.4-5.1 0-5.2 4.2-9.4 9.4-9.4 2.5 0 4.9 1 6.7 2.8 1.8 1.8 2.8 4.2 2.8 6.7-.1 5.2-4.3 9.4-9.5 9.4zm5.1-7.1c-.3-.1-1.7-.9-1.9-1-.3-.1-.5-.1-.7.1-.2.3-.8 1-.9 1.1-.2.2-.3.2-.6.1s-1.2-.5-2.3-1.4c-.9-.8-1.4-1.7-1.6-2-.2-.3 0-.5.1-.6s.3-.3.4-.5c.2-.1.3-.3.4-.5.1-.2 0-.4 0-.5C10 9 9.3 7.6 9 7c-.1-.4-.4-.3-.5-.3h-.6s-.4.1-.7.3c-.3.3-1 1-1 2.4s1 2.8 1.1 3c.1.2 2 3.1 4.9 4.3.7.3 1.2.5 1.6.6.7.2 1.3.2 1.8.1.6-.1 1.7-.7 1.9-1.3.2-.7.2-1.2.2-1.3-.1-.3-.3-.4-.6-.5z" />
              </svg>
            </div>
          </div>
        </a>

        <!-- Sharingbutton Telegram -->
        <a class="resp-sharing-button__link"
          href="https://telegram.me/share/url?text=Check%20out%20this%20Battle%20Pass%20Calculator!&amp;url=franklfranco.com/valorantbpc" target="_blank" rel="noopener"
          aria-label="">
          <div class="resp-sharing-button resp-sharing-button--telegram resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M.707 8.475C.275 8.64 0 9.508 0 9.508s.284.867.718 1.03l5.09 1.897 1.986 6.38a1.102 1.102 0 0 0 1.75.527l2.96-2.41a.405.405 0 0 1 .494-.013l5.34 3.87a1.1 1.1 0 0 0 1.046.135 1.1 1.1 0 0 0 .682-.803l3.91-18.795A1.102 1.102 0 0 0 22.5.075L.706 8.475z" />
              </svg>
            </div>
          </div>
        </a>
      </div>

      <p style="margin-top: 15px; padding: 0px;">Made by <a style="text-decoration: underline; color: var(--light);"
          href="https://twitter.com/franklfranco">Frank L. Franco</a></p>

      <ul id="languages-list">
        <li><img src="assets/images/globe.png" style="width: 20px; padding-right: 5px" /></li>
        <li><a href="index.html">English</a></li>
        <li><a href="assets/langs/espanol.html">Español</a></li>
      </ul>

      <p id="disclaimer" style="padding: 5px; margin: 0px;"><strong style="color: inherit">Disclaimer:</strong>
        This is a fanpage and is in no way affiliated with Valorant or Riot Games. The obtainable XP from a Normal match and the duration of Normal and Spike Rush are based on an average. The weekly challenges are an estimation given the data of the previous Act. Please take that into consideration when making your calculations. Valorant font made by Bryan T (<a href="https://ko-fi.com/brylark">Support him!</a>)</p>

    </footer>
  </div>

  <!-- Libraries -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <!-- Scripts -->
  <script src="assets/script.js?v=1679702252439"></script>

  <!-- Google -->
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</body>

</html>
